.idea/

# helm files
kubernetes/.packaged/
kubernetes/cray-hms-scsd/charts/

# runIntegration.sh creates the following soft links to the real files under Test/

# runIntegration.sh generates these log files
scsdtest_scsd_*.logs*

# vim files
*.swp
